#danke{
    text-align: center;
    padding: 1rem;
}

.button{
    color: var(--textPrimary);
    font-size: 1.2rem;
    border: 0.2rem solid var(--accent);
    border-radius: 1rem;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--layer1);
    margin: 1rem;
}

.button:hover {
    background-color: var(--layer2);
}