#danke{
    text-align: center;
    padding: 1rem;
}

.button{
    color: var(--textPrimary);
    font-size: 1.2rem;
    border: 0.2rem solid var(--accent);
    border-radius: 1rem;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--layer1);
    margin: 1rem;
}

.button:hover {
    background-color: var(--layer2);
}

.tickets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.ticket {
    color: var(--textPrimary);
    font-size: 1.2rem;
    width: 50rem;
    height: 15rem;
    background-color: var(--layer1);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 0.2rem solid var(--layer1);
    border-radius: 2rem;
    margin: 3rem;
}

.ticketInformation {
    margin: 2.5%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.ticketMovieTitle {
    font-weight: bold;
    letter-spacing: 0.3ch;
    font-size: 2rem;
    padding: 0.25rem 1rem;
    width: 100%;
    border-bottom: 0.2rem solid var(--accent);
}

.ticketInformation table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 1rem;
}

.ticketInformation table tr td {
    padding-top: 5%;
    border-bottom: 1px solid var(--layer3);
}

.ticketInformation table tr td:last-child {
    text-align: right;
}

.qr {
    width: 30%;
    display: inherit;
    align-items: center;
}

.qr img {
    margin: auto;
}