#profile {
    margin-top: 1rem;
    background-color: var(--layer1);
    padding: 1rem;
}

#card table {
    background-color: var(--layer4);
    border-radius: 1rem;
    margin: 0 auto 0 auto;
    padding: 2rem 5rem;
}

#card table tr td {
    padding: 0 5rem 0 5rem;
    font-size: 1.5rem;
}

#card table tbody tr:first-of-type td:nth-of-type(2) {
    padding: 0 5.5rem 0 4.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.expand{
    height: 5rem;
    background-color: var(--layer3);
    color: var(--textPrimary);
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    padding-left: 1rem;
}

summary::-webkit-details-marker{
    display: block;
    color: var(--accent);
}

summary:hover {
    font-size: 2.5rem;
}

summary{
    list-style-image: none;
}

summary:focus {
    outline: none;
}

#onlyAdmins {
    display: none;
}

.button{
    color: var(--textPrimary);
    font-size: 1.2rem;
    border: 0.2rem solid var(--accent);
    border-radius: 1rem;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--layer1);
    margin: 1rem;
}

fieldset {
    margin-top: 1rem;
}

.field{
    width: 100%;
    border-bottom: 2px dashed var(--textPrimary);
    margin: 1.5rem 2.5% 1rem 0;
    transition: 500ms;
}
.label{
    color: var(--textPrimary);
    font-size: 1.2rem;
}

.fieldContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.input{
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    transition: border 500ms;
}
.specialField {
    width: 100%;
    border-bottom: 2px dashed var(--layer9);
    margin: 1.5rem 2.5% 1rem 0;
    transition: 500ms;
}
.readonly {
    color: var(--layer9);
}
.readonly::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--layer9);
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}
.readonly:focus-within{
    border-color: transparent;
}
.readonly:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
}
.field::after{
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--accent);
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}

.field:focus-within{
    border-color: transparent;
}

.field:focus-within::after{
    transform: scaleX(1);
    opacity: 1;
}

.Profilpos{
    position: center;
    justify-content: center;
}
.profile-picture{
    position: center;
    justify-content: center;
}

.tickets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.ticket {
    color: var(--textPrimary);
    font-size: 1.2rem;
    width: 50rem;
    height: 15rem;
    background-color: var(--layer3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 0.2rem solid var(--layer3);
    border-radius: 2rem;
    margin: 3rem;
}

.ticketInformation {
    margin: 2.5%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.ticketMovieTitle {
    font-weight: bold;
    letter-spacing: 0.3ch;
    font-size: 2rem;
    padding: 0.25rem 1rem;
    width: 100%;
    border-bottom: 0.2rem solid var(--accent);
}

.ticketInformation table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 1rem;
}

.ticketInformation table tr td {
    padding-top: 5%;
    border-bottom: 1px solid var(--layer3);
}

.ticketInformation table tr td:last-child {
    text-align: right;
}

.qr {
    width: 30%;
    display: inherit;
    align-items: center;
}

.qr img {
    margin: auto;
}

#ticketsContainer {
    width: 100%;
}

#selection-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

#pref button {
    margin: 1rem 1rem 1rem auto;
}