
/*---------------------------------------------------------------------------------------------------*/

.bar{
    height: 5rem;
    background-color: var(--layer3);
    color: var(--textPrimary);
    align-items: center;
    margin-top: 1rem;
}
.bar p{
    margin: 1.5rem 3vw;
    font-size: 2rem;
}

form.field input[type=text] {
    padding: 1rem;
    font-size: 17px;
    float: left;
    border: none;
    width: 70%;
    background: var(--textPrimary);
    color: var(--layer3);
    height: 100%;
    margin-top: 1rem;
  }
  
  form.field button {
    float: left;
    width: 20%;
    padding: 1rem;
    background: var(--layer3);
    color: var(--textPrimary);
    font-size: 17px;
    cursor: pointer;
    height: 100%;
    border: none;
    margin-top: 1rem;
  }
  
  form.field button:hover {
    background: linear-gradient(to top, var(--layer6), var(--layer10));
  }
  
  form.field::after {
    content: "";
    clear: both;
    display: table;
  }





/*---------------------------------------------------------------------------------------------------*/



