

#seat-selection{

    background-color: var(--layer1);
    color: var(--textPrimary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
}

.movie-container {
    margin: 2rem 0;
    padding-top: 2rem;
    width: 50%;
    text-align: center;
}
#movie {
    font-size: 2.5rem;
    border-bottom: 0.2rem solid var(--accent);
}



.container {
    width: 80%;
    margin-bottom: 2rem;
}

.seat {
    background-color: var(--layer10);
    height: 1.5rem;
    width: 1.8rem;
    margin: 0.25rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

#seatDesign {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.seat.selected {
    background-color: var(--accent);
}

.seat.occupied {
    background-color: var(--layer4);
}

.seat img {
    width: 75%;
    height: auto;
}

.seat:nth-of-type(4) {
    margin-right: 1rem;
}

.seat:nth-last-of-type(4) {
    margin-left: 1rem;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--textSecondary);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    width: auto;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.showcase li small {
    margin-left: 0.5rem;
}
#big{
    transform: scale(1.3);
}

.seat-row {
    display: flex;
    justify-content: center;
}

.seat-row:nth-of-type(6) {
    margin-bottom: 1rem;
}

.screen {
    background-color: #fff;
    height: 10rem;
    width: 35rem;
    margin: 1rem 0;
    box-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.7);
    margin-bottom: 3rem;
}

p.text {
    color: var(--textPrimary);
    margin: 0.5rem 0;
}

p.text span {
    color: var(--accent);
}



/*---------------------------------------------------------------------------------------------------*/

.expand{
    height: 5rem;
    background-color: var(--layer3);
    color: var(--textPrimary);
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    padding-left: 1rem;
}

summary::-webkit-details-marker{
    display: block;
    color: var(--accent);
}

summary:hover {
    font-size: 2.5rem;
}

summary{
    list-style-image: none;
}

summary:focus {
    outline: none;
}

.formStyle {
    background-color: var(--layer1);
    height: auto;
    padding-bottom: 1.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}


.button{
    color: var(--textPrimary);
    font-size: 1.2rem;
    border: 0.2rem solid var(--accent);
    border-radius: 1rem;
    padding: 10px 50px;
    display: none;
    align-items: center;
    cursor: pointer;
    background-color: var(--layer1);
    margin-top: 2rem;
    float: right;
}

.SignUp{
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 10px 30px;
    font-weight: bold;
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: 100px;
    background: transparent;
    transition: all 1000ms;
}


.field{
    width: 100%;
    border-bottom: 2px dashed var(--textPrimary);
    margin: 1.5rem 2.5% 1rem 0;
    transition: 500ms;
}
.label{
    color: var(--textPrimary);
    font-size: 1.2rem;
}

.fieldContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.input{
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    transition: border 500ms;
}
.specialField {
    width: 100%;
    border-bottom: 2px dashed var(--layer9);
    margin: 1.5rem 2.5% 1rem 0;
    transition: 500ms;
}
.readonly {
    color: var(--layer9);
}
.readonly::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--layer9);
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}
.readonly:focus-within{
    border-color: transparent;
}
.readonly:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
}
.field::after{
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--accent);
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}

.field:focus-within{
    border-color: transparent;
}

.field:focus-within::after{
    transform: scaleX(1);
    opacity: 1;
}

/*----------------Ticket-Preview--------------------------*/

.tickets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.ticket {
    color: var(--textPrimary);
    font-size: 1.2rem;
    background-color: var(--layer3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 0.2rem solid var(--layer1);
    border-radius: 2rem;
    margin: 3rem;
}

.ticketInformation {
    margin: 2.5%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.ticketMovieTitle {
    font-weight: bold;
    letter-spacing: 0.3ch;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    width: 100%;
    min-height: 30%;
    max-height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 0.2rem solid var(--accent);
}

.ticketInformation table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 1rem;
}

.ticketInformation table tr td {
    padding-top: 5%;
    border-bottom: 1px dotted var(--layer8);
}

.ticketInformation table tr td:nth-child(2) {
    border-right: 1px solid var(--accent-Light);
    padding-right: 0.5rem;
}

.ticketInformation table tr td:nth-child(3) {
    padding-left: 0.5rem;
}

.ticketInformation table tr td:nth-child(even) {
    text-align: right;
}

.qr {
    width: 30%;
    display: inherit;
    align-items: center;
}

.qr img {
    margin: auto;
}

/*----------------------Tabelle in Zusammenfassung---------------------*/

#Angaben{
    margin-right: 2rem;
}

#Angaben table{
    border-collapse: collapse;
    width: 100%;
}

#Angaben table td{
    border: 1px solid var(--layer8);
    width: 14.25%;
    text-align: left;
    vertical-align: middle;
    padding-left:  0.7rem;
    font-size: 1.2rem;
}

#Angaben table th{
    border: 1px solid var(--layer8);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
    text-align: center;
    background-color: var(--layer3);
    color: var(--accent);
    font-size: 1.5rem;
}

.pic{
    width: 30%;
    height: 90%;
    display: inherit;
    align-items: center;
}

.image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.image img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
}



#loadingWhileLogin{
    width: 250px;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
}

/* --------------------------Media Queries ---------------*/

@media only screen and (min-width: 0px) and (max-width: 719px){
    html {
        font-size: 12px;
    }
    
    .ticket{
        width: 25rem;
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .ticketInformation{
        width: 80%;
    }

    .pic{
        width: 90%;
    }

    .ticketMovieTitle{
        padding: 0;
    }

    .container{
        width: 95%;
    }

    #seat-selection ul{
        width: fit-content;
    }

    .showcase{
        width: 100%;
        font-size: 1.4rem;
        padding-left: 0;
        padding-right: 0;
    }

    .showcase ul{
        padding: 10px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1099px){
    html{
        font-size: 13px;
    }
    
    .ticket{
        width: 40rem;
    }
}
  
@media only screen and (min-width: 1100px) and (max-width: 1499px){
    html{
        font-size: 14px;
    }
    
    .ticket{
        width: 30rem;
    }

    .seat{
        transform: scale(1.25);
        margin: 0.5rem;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.5);
    }

    .seat:nth-of-type(4) {
        margin-right: 1.2rem;
    }
    
    .seat:nth-last-of-type(4) {
        margin-left: 1.2rem;
    }
}
    
@media only screen and (min-width: 1500px) and (max-width: 1899px){
    html{
        font-size: 15px;
    }
    
    .ticket{
        width: 40rem;
    }

    .seat{
        transform: scale(1.5);
        margin: 0.7rem;
    }
    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.8);
    }
    .seat:nth-of-type(4) {
        margin-right: 1.5rem;
    }
    
    .seat:nth-last-of-type(4) {
        margin-left: 1.5rem;
    }
}
    
@media only screen and (min-width: 1900px) and (max-width: 2299px){
    html{
        font-size: 16px;
    }

    .ticket{
        width: 50rem;
    }

    .seat{
        transform: scale(1.75);
        margin: 1rem;
    }
    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(2.1);
    }
    .seat:nth-of-type(4) {
        margin-right: 1.75rem;
    }
    
    .seat:nth-last-of-type(4) {
        margin-left: 1.75rem;
    }
}
    
@media only screen and (min-width: 2300px){
    html{
        font-size: 18px;
    }

    .ticket{
        width: 60rem;
    }

    .seat{
        transform: scale(2);
        margin: 1.3rem;
    }
    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(2.4);
    }
    .seat:nth-of-type(4) {
        margin-right: 2rem;
    }
    
    .seat:nth-last-of-type(4) {
        margin-left: 2rem;
    }
}