@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}






.box:hover{
	background: linear-gradient(to top, var(--layer6), var(--layer10));
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}

@media(max-width:720px){
	.box{
		width: 98%;
		height: 50vh;
	}
	
}