.field {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 1rem 0;
}

.field input {
    padding: 1rem;
    border: none;
    width: 70%;
    background: var(--textPrimary);
    color: var(--layer3);
    height: 100%;
}

.field button {
    width: 20%;
    padding: 1rem;
    background: var(--layer3);
    color: var(--textPrimary);
    cursor: pointer;
    height: 100%;
    border: none;
}

.field button:hover {
    background: linear-gradient(to top, var(--layer6), var(--layer10));
}

/*-----------------------------------------------------------------------------*/


.searchResults {
    background-color: var(--layer1);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    justify-content: flex-start;
}

.resultMovie {
    height: 24rem;
    width: 18rem;
    background-color: var(--layer3);
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.resultMovie img {
    height: 20rem;
    width: auto;
    width: 18rem;
    object-fit: contain;
    margin: 0.2rem;
}

.movieTitle {
    font-size: 1.2rem;
    padding: 0rem 1rem 0.5rem;
}

.sortbutton {
    margin : 0;
    padding : 0;
    border : 1px solid;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    display : inline;
}

ul {
    background-color: var(--layer1);
    list-style-type: none;
    margin : 0;
    padding : 0;
}