
/*-----------------------------------------------------------------------------------------------------------------*/

.movie-poster img{
    width: 100%;
    height: auto;
}

.movie-content{
    padding: 2rem 0rem 2rem 4rem;
}

.title{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.2ch;
}

.description{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.times{
    margin-top: 2rem;
    width: 10rem;
}

.times input[type="radio"]{
    display: none;
}

.times label{
    position: relative;
    color: var(--textPrimary);
    font-size: 1.2rem;
    border: 0.2rem solid var(--accent);
    border-radius: 1rem;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

button{
    color: var(--textPrimary);
    font-size: 1.2rem;
    border: 0.2rem solid var(--accent);
    border-radius: 1rem;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--layer1);
}

.times input[type="radio"]:checked + label{
    background-color: var(--accent-Dark);
}




/*-----------------------------------------------------------------------------------------------------------------*/